* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 60.5%;
}
body {
  background: rgb(3, 0, 31);
  font-family: "Courier New", Courier, monospace sans-serif;
  color: white;
}
.App {
  min-height: 100vh;
  display: flex;
}
.sidebar {
  flex: 3;
  border-right: 1px solid rgb(100, 100, 100);
}
.main {
  flex: 9;
}
.logo {
  margin-right: 1rem;
}
.brand {
  font-size: 2rem;
}
.upperSide {
  /* padding: 1.5rem; */
}
